@import "theme.scss";

@font-face {
  font-family: "GeistMono";
  src: url("../public/fonts/GeistMono.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Geist";
  src: url("../public/fonts/Geist.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

// Reset default styles
html,
body {
  margin: 0;
  padding: 0;
  height: calc(100% - 2rem);
  width: calc(100% - 1rem);
}

body {
  font-family: 'GeistMono', monospace;
  overflow-x: hidden;
  overflow-y: hidden;
}