@mixin center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin fixed-center {
  position: fixed;
  @include center;
}

@mixin abs-center {
    position: absolute;
    @include center;
}

@mixin flex-center {
    display:flex;
    align-items:center;
    justify-content: center;
}

@mixin flex-center-row {
    @include flex-center;
    flex-direction: row;
}

@mixin flex-center-col {
    @include flex-center;
    flex-direction: column;
}

@mixin fade-in {
    animation: fade-in 0.2s linear 1;
}

@keyframes fade-in {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@keyframes slide-fade-in-animation {
    0% {
        transform:translateY(10rem);
        transform:translateY(50%);
        //opacity:0;
    }
    100% {
        transform:translateY(0);
        //opacity:1;
    }
}

@keyframes slide-fade-in-translucent-animation {
    0% {
        transform:translateY(10rem);
        transform:translateY(50%);
        opacity:0;
    }
    100% {
        transform:translateY(0);
        opacity:0.5;
    }
}

@mixin slide-fade-in {
    animation: slide-fade-in-animation 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) 1;
}
@mixin slide-fade-in-translucent {
    animation: slide-fade-in-translucent-animation 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) 1;
}

@mixin theme-scrollbar {
    scrollbar-color: var(--secondary-color) var(--background-dark);
    scrollbar-width: thin;
}

@mixin cover {
    background:#00000077;
}

@keyframes pop-in {
    0% {
        opacity:0;
        filter:blur(10px);
        transform:translateY(20px);
    }
    100% {
        opacity:1;
        filter:blur(0px);
        transform:translateY(0px);
    }
}

@mixin navigation-section-content {
    position: relative;
    width:100%;
    height:100%;
    @include flex-center;
}

@mixin navigation-section-content-inner {
    width: 64%;
    max-width:64%;
    min-width:64%;

    height:85dvh;
    overflow-y:auto;
    padding:0.2rem 1rem;

    margin-top:2rem;
    margin-left:1rem;

    scrollbar-width: thin;
    scrollbar-color: var(--secondary-color) var(--background-dark);
    h2 {
        margin:0;
    }
}
