@import "../variables.module.scss";

.navigationOuter {

    position: relative;

    width: 20dvw;
    min-width: 20rem;
    height: 100dvh;
    .navigationButtons {

        position: fixed;
        top:50%;
        left:0;
        transform: translateY(-50%);

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        height:fit-content;
        
        z-index:90;

        background:none;
        margin-left:0.5rem;
        border-radius: 10px;
        padding: 0.5rem 0.2rem;

        background:var(--background-dark);

        transition:all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

        div.navigationButton {

            font-size: 1.1rem;
            padding: 0.3rem;
            cursor: pointer;
            transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            color: var(--secondary-color);
            opacity: 0.7;

            transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

            svg {
                transform: scale(1.2);
            }

            &:hover, &.active {
                color: var(--primary-color);
                opacity: 1;
            }
        }

        &:hover {
            background:var(--background-color);
            outline: 2px solid var(--secondary-color);
            padding: 1rem 1rem;
            box-shadow: 0 0 10px var(--glow);
            div.navigationButton {
                margin:0.2rem 0;
                color:var(--primary-color);
                &:hover,&.active {
                    svg {
                        transition: transform 0.1s linear;
                        transform: scale(1.6);
                        color:var(--glow);
                    }
                }
            }
        }
    }

    .navigationInner {

        position: relative;
        width:100%;
        height:100dvh;
        overflow:hidden;
        z-index:1;

        .navigationContent {
            position: absolute;
            width: 100%;
            transition: transform 0.3s ease;

            .navigationSection {
                
                position: relative;
                width:100%;
                height:100dvh;
                z-index:1;
                background-color: var(--background-dark);

                @include flex-center;

                color: var(--primary-color);

                h2 {
                    margin-bottom: 20px;
                    font-size: 18px;
                }
            }
        }
    }
}