@import "../../variables.module.scss";

.decksContentInner {
    
    width: calc(100%);
    margin: 0rem;

    position:relative;

    transform:translateY(-1.5rem);

    padding-top:1.5rem;
    max-height:calc(100dvh - 1.5rem);
    overflow-y:auto;
    overflow-x:hidden;

}