@import "../../../styles/variables.module.scss";
@import "./decks.module.scss";

.newDeckPopup {
    background: var(--background-color);
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
    border: 2px solid var(--secondary-color);
    width:60dvw;

    overflow:hidden;

    position:relative;

    h2 {
        text-align: center;
        margin-top:0.2rem;
        font-size: 1.4rem;
    }

    .newDeckPopupContent {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap:0.5rem;
        .deckColumn {
            background:var(--background-dark);
            width: 50%;
            border-radius: 0.5rem;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            position:relative;

            h3, p {
                margin:0;
                margin-bottom:0.5rem;
                padding: 0 1rem;
                text-align: center;
            }

            .noteSelection {
                max-height:50dvh;
                width:calc(100% - 2px - 1rem);
                overflow-y: auto;
                scrollbar-width: thin;
                scrollbar-color: var(--secondary-color) var(--background-color);
                margin-bottom: 0.5rem;
                border:1px solid var(--background-color);
                border-radius: 0.5rem;
                padding: 0 0.5rem;

                .note {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-start;
                    margin:0.5rem 0;
                    gap:0.5rem;
                    cursor: pointer;
                    padding: 0.5rem;
                    border-radius: 0.5rem;

                    transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1);

                    .selectionIndicator {
                        margin-right:0.2rem;
                        svg {
                            transform: scale(1.2) translateY(2px);
                        }
                    }

                    .noteTitle {
                        font-size: 0.9rem;
                        font-weight: 500;
                        max-width: 90%;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }

                    &:hover, &.selected {
                        background: var(--primary-color);
                        color: var(--background-dark);
                    }
                }
            }

            .generateDeckDisabled {
                position:absolute;
                top:0;left:0;
                height:100%;
                width:100%;
                @include flex-center;
                .generateDeckDisabledBackground {
                    position:absolute;
                    top:0;left:0;
                    height:100%;
                    width:100%;
                    background:var(--background-dark);
                    opacity:0.5;
                }
                .generateDeckDisabledMessage {
                    z-index:1001;
                    width:90%;
                    margin:0 1rem;
                    border-radius: 0.5rem;
                    box-shadow:0 0 1rem 0.8rem var(--background-dark);
                    padding:1rem 3rem;
                    @include flex-center;
                    border:2px solid var(--secondary-color);
                    background:var(--background-color);
                    a {
                        color:var(--link-color);
                        margin:0 0.5rem;
                    }
                }
            }

            .freeDeckGenerations,
            .premiumDeckGenerations {
                margin-top:0.5rem;
                padding:0.2rem 0.5rem;
                text-align:center;
                a {
                    color:var(--link-color);
                    margin:0 0.5rem;
                }
            }
        }
    }

    .generatingOverlay {
        position:absolute;
        top:0;left:0;
        height:100%;
        width:100%;
        @include flex-center;

        .generatingOverlayBackground {
            z-index:1000;
            border-radius: 0.5rem;
            position:absolute;
            top:0;left:0;
            height:100%;
            width:100%;
            background:rgba(0,0,0,0.5);
        }

        .generatingOverlayContent {
            z-index: 1001;
            background:var(--background-color);
            border-radius: 0.5rem;
            @include flex-center;
            flex-direction: column;
            padding:1rem 3rem;
            box-shadow:0 0 1rem 0.4rem var(--background-color);

            @include zoom-in-appear;

            @keyframes shimmer {
                to {
                    background-position: 200% center;
                }
            }
            h2 {
                background: linear-gradient(
                    90deg,
                    var(--glow) 0%,
                    var(--primary-color) 50%,
                    var(--glow) 100%
                );
                background-size: 200% auto;
                color: transparent;
                -webkit-background-clip: text;
                background-clip: text;
                animation: shimmer 2s linear infinite;
            }
        }
    }
}